body {
  background-color: green;
  cursor: url("cards/10C.png"), auto;
}
#cursor {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}
.topContainer {
  max-width: 1300px;
  position: relative;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
}
.deckAndRevealedCard {
  float: left;
  width: 300px;
  height: 175px;
  color: red;
}
.deck {
  float: left;
}
.revealedCard {
  float: right;
}
.suiteTargets {
  float: right;
  width: 650px;
  height: 175px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.heartsTarget,
.diamondsTarget,
.spadesTarget,
.clubsTarget,
.revealedCard,
.deck {
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  width: 120px;
  height: 100%;
  width: 120px;
  height: 100%;
}
img {
  max-width: 125px;
  max-height: 175px;
}
.column {
  width: 120px;
  height: 600px;
  background-color: red;
}
