body {
  background-color: green;
  margin-left: 5%;
  margin-right: 5%;
}
#selection {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}
.top-container {
  margin-bottom: 25px;
  height: 175px;
}
.bottom-container {
  max-height: max-content;
}
.top-container,
.bottom-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  max-width: 1300px;
  max-height: 550px;
}
.target,
.revealed-card,
.deck {
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  width: 120px;
  height: 175px;
  width: 120px;
}
img {
  max-width: 125px;
  max-height: 175px;
}
.column {
  list-style-type: none;
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  width: 120px;
  max-height: inherit;
}
